includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app/
        - database/
        - resources/views/
        - routes/
        - tests/

    # Level 9 is the highest level
    level: 0

    # I have no idea why this is necessary
    scanDirectories:
        - vendor/paquettg/php-html-parser/src

    # Prevent hogging of all resources
    # https://phpstan.org/config-reference#parallel-processing
    parallel:
        jobSize: 20
        maximumNumberOfProcesses: 4
        minimumNumberOfJobsPerProcess: 2

#    ignoreErrors:
#        - '#PHPDoc tag @var#'
#

    excludePaths:
        # '#Keyword continue used outside of a loop or a switch statement#'
        - resources/views/admin/tools/mdt/dungeonmappingversionaccuracy.blade.php
#
#    checkMissingIterableValueType: false
