.sorting_asc {
    background: url('/images/lib/datatables/sort_asc.png') no-repeat center right !important;
}

.sorting_desc {
    background: url('/images/lib/datatables/sort_desc.png') no-repeat center right !important;
}

.sorting {
    background: url('/images/lib/datatables/sort_both.png') no-repeat center right !important;
}

.sorting_asc_disabled {
    background: url('/images/lib/datatables/sort_asc_disabled.png') no-repeat center right !important;
}

.sorting_desc_disabled {
    background: url('/images/lib/datatables/sort_desc_disabled.png') no-repeat center right !important;
}

/** BOOTSTRAP **/
.left_checkbox {
    width: 40px;
}

.navbar-default .navbar-nav > li > .btn-success > a:hover, .navbar-default .navbar-nav > li > .btn-success > a:focus {
    background-color: #20895e;
}

.navbar-default .navbar-nav > li > a.btn-success {
    color: #FFF;
}

.navbar-default .navbar-nav > li > a.btn-success:hover {
    background-color: #20895E;
}

.panel-heading {
    font-size: 28px;
}

.panel-heading-wide {
    text-align: center;
}

.alert.alert-danger ul {
    margin-bottom: 0;
}

/* Override this so that long race names fit in their group selection boxes */
.dropdown-item {
    padding: 0.25em 0.9em;
}

/* Fixed messages always on top */
.fixed-bottom {
    z-index: 10000;
}

/* Floating top header should be top, but not too top */
.fixed-top {
    z-index: 800 !important;
}

/** GENERAL ICONS */
.username_menu {
    width: 105px;
}

.select_icon {
    width: 24px;
    border-radius: 12px;
    max-height: 24px;
}

.select_icon {
    margin-right: 5px;
}

.display_icon {
    width: 32px;
    border-radius: 16px;
    max-height: 32px;
}

.user_icon {
    width: 24px;
    color: white;
    text-align: center;
    background-color: gray;
    border-radius: 12px;
    margin-right: 5px;
}

.class_icon {
    background-color: #2B3E50;
}

.default_table {
    width: 100%;
}

/** DATATABLES */
#routes_table_filter {
    display: none;
}

#routes_table .limit_width {
    max-width: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media (max-width: 600px) {
    #routes_table .limit_width {
        max-width: 200px;
    }
}

/** INTRO.JS */
.introjs-tooltip {
    width: 400px !important;
}

/** MISC STYLES */
.view_dungeonroute_details_row .affix_row_container {
    margin-left: 0;
    margin-right: 0;
}

#view_dungeonroute_group_setup {
    display: flex;
    align-items: center;
}

.affixes_overview_table td {
    padding: 0;
}

.affixes_overview_table .affix_row {
    padding: 5px;
}

.affixes_overview_table .last_column {
    border-left: orange 3px solid;
    border-right: orange 3px solid;
    background-color: #ffa500bb;
}

.affixes_overview_table .last_column.first_row {
    border-top: orange 3px solid;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.affixes_overview_table .last_column.last_row {
    border-bottom: orange 3px solid;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.affixes_overview_table .current_week {
    border-top: rgb(235, 235, 235) 3px solid;
    border-bottom: rgb(235, 235, 235) 3px solid;
    background-color: #2B3E50;
}

.affixes_overview_table .current_week.first_column {
    border-left: rgb(235, 235, 235) 3px solid;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.affixes_overview_table .current_week.last_column {
    border-right: rgb(235, 235, 235) 3px solid;
    border-left: none; /* Disable overlapping borders when both rows overlap */
    padding-left: 8px; /* Compensation for the missing border */
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}