.sorting_asc {
    background: url('/images/lib/datatables/sort_asc.png') no-repeat center right !important;
}

.sorting_desc {
    background: url('/images/lib/datatables/sort_desc.png') no-repeat center right !important;
}

.sorting {
    background: url('/images/lib/datatables/sort_both.png') no-repeat center right !important;
}

.sorting_asc_disabled {
    background: url('/images/lib/datatables/sort_asc_disabled.png') no-repeat center right !important;
}

.sorting_desc_disabled {
    background: url('/images/lib/datatables/sort_desc_disabled.png') no-repeat center right !important;
}

/** BOOTSTRAP **/
.cursor-pointer {
    cursor: pointer !important;
}

@media (max-width: 576px) and (orientation: landscape) {
    .hide-on-landscape {
        display: none;
    }
}

@media (max-width: 576px) and (orientation: portrait) {
    .hide-on-portrait {
        display: none;
    }
}

@media (min-width: 576px) and (orientation: landscape) {
    .hide-on-landscape-sm {
        display: none;
    }
}

@media (min-width: 576px) and (orientation: portrait) {
    .hide-on-portrait-sm {
        display: none;
    }
}

@media (min-width: 768px) and (orientation: landscape) {
    .hide-on-landscape-md {
        display: none;
    }
}

@media (min-width: 768px) and (orientation: portrait) {
    .hide-on-portrait-md {
        display: none;
    }
}

@media (min-width: 992px) and (orientation: landscape) {
    .hide-on-landscape-lg {
        display: none;
    }
}

@media (min-width: 992px) and (orientation: portrait) {
    .hide-on-portrait-lg {
        display: none;
    }
}

@media (min-width: 1200px) and (orientation: landscape) {
    .hide-on-landscape-xl {
        display: none;
    }
}

@media (min-width: 1200px) and (orientation: portrait) {
    .hide-on-portrait-xl {
        display: none;
    }
}

@media (min-width: 1440px) {
    .container_wide {
        max-width: 1400px;
    }
}

@media (min-width: 1200px) {
    .menu_sidebar {
        -ms-flex: 0 0 230px;
        flex: 0 0 230px;
    }
}

@media (max-width: 690px) {
    .my-sidebar {
        display: none;
    }
}

.left_checkbox {
    width: 40px;
}

.navbar-default .navbar-nav > li > .btn-success > a:hover, .navbar-default .navbar-nav > li > .btn-success > a:focus {
    background-color: #20895e;
}

.navbar-default .navbar-nav > li > a.btn-success {
    color: #FFF;
}

.navbar-default .navbar-nav > li > a.btn-success:hover {
    background-color: #20895E;
}

.panel-heading {
    font-size: 28px;
}

.panel-heading-wide {
    text-align: center;
}

.alert.alert-danger ul {
    margin-bottom: 0;
}

/* Override this so that long race names fit in their group selection boxes */
.dropdown-item {
    padding: 0.25em 0.9em;
}

/* Fixed messages always on top */
.fixed-bottom {
    z-index: 1000;
}

/* Floating top header should be top, but not too top */
.fixed-top {
    z-index: 800 !important;
}

.alert_fixed_footer {
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

/** GENERAL ICONS */
.username_menu {
    width: 105px;
}

.select_icon {
    width: 24px;
    border-radius: 12px;
    max-height: 24px;
}

.display_icon {
    width: 32px;
    border-radius: 16px;
    max-height: 32px;
}

.class_icon {
    background-color: #2B3E50;
}

.default_table {
    width: 100%;
}

/** DATATABLES */
.row_selected {
    background-color: rgba(255, 255, 255, 0.15) !important;
    cursor: pointer;
}

.routes_table .limit_width {
    max-width: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media (max-width: 600px) {
    .routes_table .limit_width {
        max-width: 200px;
    }
}

#routes_table .not_clickable {
    cursor: default !important;
}

/** OWL.CAROUSEL */
.routes_table .owl-nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 192px;
    height: 128px;
}

.routes_table .owl-carousel .owl-nav button {
    width: 48px;
    height: 128px;
    font-size: 2em;
    opacity: 0;
}

.routes_table .owl-carousel .owl-nav button:focus {
    outline: none;
}

.routes_table .owl-carousel .owl-nav button:hover {
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
}

.routes_table .owl-carousel .owl-nav button.owl-prev {
    margin-right: 48px;
    text-align: left;
    padding-left: 15px !important;
}

.routes_table .owl-carousel .owl-nav button.owl-next {
    margin-left: 48px;
    text-align: right;
    padding-right: 15px !important;
}

.routes_table .owl-carousel {
    width: 192px;
    height: 128px;
}

@media ( max-width: 600px) {
    .routes_table .owl-carousel {
        width: 96px;
        height: 64px;
    }

    .routes_table .owl-carousel .owl-nav button {
        width: 48px;
        height: 64px;
        font-size: 1em;
        opacity: 0;
    }

    .routes_table .owl-carousel .owl-nav button.owl-prev {
        margin-right: 0;
        text-align: left;
        padding-left: 7px !important;
    }

    .routes_table .owl-carousel .owl-nav button.owl-next {
        margin-left: 0;
        text-align: right;
        padding-right: 7px !important;
    }
}

/** INTRO.JS */
.introjs-tooltip {
    width: 400px !important;
}

/** MISC STYLES */
.view_dungeonroute_details_row .affix_row_container {
    margin-left: 0;
    margin-right: 0;
}

#view_dungeonroute_group_setup {
    display: flex;
    align-items: center;
}

#affixes_list_custom.affix_list {
    border: 1px solid #ccd0d2;
    border-radius: 4px;
}

#affixes_list_custom .affix_row {
    padding-right: 10px;
}

#affixes_list_custom .affix_list_row {
    padding-top: 5px;
    padding-bottom: 5px;
}

#affixes_list_custom .affix_list_row_selected {
    background-color: #2B3E50;
}

#affixes_list_custom .affix_list_row_disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

#affixes_list_custom .affix_list_row:hover {
    background-color: #2B3E50;
    cursor: pointer;
}

#affixes_list_custom .affixselect {
    height: 100px;
}

.affixes_overview_table td {
    padding: 0;
}

.affixes_overview_table .affix_row {
    padding: 5px;
}

.affixes_overview_table .last_column {
    border-left: orange 3px solid;
    border-right: orange 3px solid;
    background-color: #ffa500bb;
}

.affixes_overview_table .last_column.first_row {
    border-top: orange 3px solid;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.affixes_overview_table .last_column.last_row {
    border-bottom: orange 3px solid;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.affixes_overview_table .current_week {
    border-top: rgb(235, 235, 235) 3px solid;
    border-bottom: rgb(235, 235, 235) 3px solid;
    background-color: #2B3E50;
}

.affixes_overview_table .current_week.first_column {
    border-left: rgb(235, 235, 235) 3px solid;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.affixes_overview_table .current_week.last_column {
    border-right: rgb(235, 235, 235) 3px solid;
    border-left: none; /* Disable overlapping borders when both rows overlap */
    padding-left: 8px; /* Compensation for the missing border */
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#team_members_table .dropdown.bootstrap-select .btn {
    background-color: #4E5D6C;
    color: #FFF;
    border: 1px solid #2B3E5066;
}

#team_members_table .dropdown.bootstrap-select {
    background-color: #4E5D6C;
}