.navbar {
    -webkit-transition: padding 0.2s ease;
    -moz-transition: padding 0.2s ease;
    -o-transition: padding 0.2s ease;
    transition: padding 0.2s ease;
}

.navbar-shrink {
    padding-top: 0.2em !important;
    padding-bottom: 0.2em !important;

    -webkit-transition: padding 0.2s ease;
    -moz-transition: padding 0.2s ease;
    -o-transition: padding 0.2s ease;
    transition: padding 0.2s ease;
}

/* This takes up the space that the fixed-top navbar leaves because it floats */
.navbar-top-fixed-spacer {
    -webkit-transition: height 0.2s ease;
    -moz-transition: height 0.2s ease;
    -o-transition: height 0.2s ease;
    transition: height 0.2s ease;
}


@media (min-width: 992px) {
    .navbar-second {
        top: 24px !important;
    }
}

.game_version_header .game_version {
    border-radius: 0.25rem;
}
