body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

html, body, #map, #app, .wrapper {
    height: 100%;
    width: 100%;
}

/* css to customize Leaflet default styles  */
.popupCustom .leaflet-popup-tip,
.popupCustom .leaflet-popup-content-wrapper {
    background: #e0e0e0;
    color: #234c5e;
}

.popup_select {
    width: 300px;
}

#map_controls .map_controls_custom,
#map_faction_display_controls .map_controls_custom {
    width: 50px;
    background-image: none;
}

.map_enemy_tooltip {
    width: 240px;
    white-space: normal;
}

.leaflet-container {
    background-color: #2B3E50;
}

.modal-lg {
    max-width: 80%;
}

.sidebar {
    width: 300px;
    position: fixed;
    top: 0;
    height: 100vh;
    z-index: 1030;
    transition: all 0.2s;
    background-color: #4E5D6C;
}

.sidebar.anchor-left {
    left: -300px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    border-right: #2B3E50 solid 1px;
}

.sidebar.anchor-left.active {
    left: 0;
}

.sidebar.anchor-right {
    right: -300px;
    box-shadow: -3px 3px 3px rgba(0, 0, 0, 0.2);
    border-left: #2B3E50 solid 1px;
}

.sidebar.anchor-right.active {
    right: 0;
}

.sidebar-toggle {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;

    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;

    position: fixed;
    top: 106px;
    cursor: pointer;
    z-index: 1050;

    background: #4E5D6C;
    color: #DF691A;
}

.sidebar-toggle.anchor-left {
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    left: 0;
}

.sidebar-toggle.anchor-right {
    box-shadow: -3px 3px 3px rgba(0, 0, 0, 0.2);
    right: 0;
}

.sidebar-toggle.anchor-left.active {
    left: 300px;
}

.sidebar-toggle.anchor-right.active {
    right: 300px;
}

.sidebar-toggle:hover {
    background: #DF691A;
    color: #FFF;
}

.sidebar .sidebar-header {
    padding: 10px 20px;
    background: #2B3E50;
}

/* Force reserve height */
.sidebar .sidebar-header h4 {
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap
}

.sidebar .sidebar-header-subtitle {
    padding-left: 10px;
    min-height: 25px;
    color: #C1C1C1;
}

.sidebar .sidebar-header-pulls-spacer {
    min-height: 11px;
}

.sidebar .sidebar-content .container {
    padding: 0 15px;
}

.sidebar .sidebar-content {
    padding-top: 10px;
    /** Bit of a hack, but the 106 is the height of the header which somehow isn't taken into account */
    height: calc(100vh - 106px);
}

.sidebar .sidebar-content .card-body {
    padding: 0.75rem 1.25rem;
}

#killzonesidebar .sidebar-content .card-body {
    padding: 0.2rem 0.5rem;
}

#killzonesidebar .sidebar-content .card-title {
    margin-bottom: 0.4rem;
}


#killzonesidebar .form-group {
    margin-bottom: 0.6rem;
}

.sidebar .sidebar-panel {
    /*padding: 10px;*/
    /*border: #2B3E50 solid 1px;*/
    margin: 4px;
}

#killzonesidebar .map_killzonessidebar_killzone {
    /*background-color: #2B3E50;*/
    /*padding: 6px;*/
}

#killzonesidebar .map_killzonessidebar_killzone_fill_space {
    flex: 1 1 auto
}

#killzonesidebar [data-toggle="collapse"] .fa:before {
    content: "\f077";
}

#killzonesidebar [data-toggle="collapse"].collapsed .fa:before {
    content: "\f078";
}

#killzonesidebar .map_killzonessidebar_killzone .selectable {
    cursor: pointer;
}

#killzonesidebar .map_killzonessidebar_color_btn {
    cursor: pointer;
}

#killzonesidebar .pickr {
    flex: 1 1 auto;
}

.draw_settings_tools .pickr {
    height: 100%;
}

.grapick_color_picker_button_outer {
    left: -6px;
    top: -9px;
}
.grapick_color_picker_button {
    width: 12px !important;
    height: 12px !important;
    padding: 0 !important;
}

/*#killzonesidebar .map_killzonessidebar_killzone.selected {*/
/*    border: #DF691A 3px solid;*/

/*    padding: 3px;*/
/*}*/

#edit_route_echo_members_container .list-group-item,
#edit_route_echo_status_container .list-group-item {
    background-color: inherit;
}

.route_echo_status,
.route_manipulation_tools {
    background-color: rgba(78, 93, 108, 0.75);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);

    border-left: #2B3E50 solid 1px;
    border-right: #2B3E50 solid 1px;
    margin: auto;
}

.route_echo_status {
    border-bottom: #2B3E50 solid 1px;
}

.route_manipulation_tools {
    border-top: #2B3E50 solid 1px;
    padding-bottom: 10px;
}

@media screen and (min-width: 1100px) {
    .route_echo_status {
        width: 1100px;
    }

    .route_manipulation_tools {
        width: 900px;
    }
}

.echo_member_header_column_container {
    -ms-flex: 0 0 50px;
    flex: 0 0 50px;
}

.echo_member_header_column {
    -ms-flex: 0 0 100px;
    flex: 0 0 100px;
}

.echo_member_column_container {
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.echo_member_column {
    -ms-flex: 0 0 100px;
    flex: 0 0 100px;
}

.route_manipulation_tools .draw_icon {
    text-align: center;
    cursor: pointer;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.route_manipulation_tools .draw_icon .col {
    background: #5bc0de;
}

.route_manipulation_tools .draw_element {
    text-align: center;
    margin-top: 8px;
}

.route_manipulation_tools .draw_element .bootstrap-select {
    height: 100%;
}

.route_manipulation_tools .draw_icon.leaflet-disabled .col,
.route_manipulation_tools .draw_icon.leaflet-disabled .col:hover {
    background: gray;
    color: inherit;
    text-decoration: unset;
    cursor: default;
}

.route_manipulation_tools .draw_icon.leaflet-draw-toolbar-button-enabled .col,
.route_manipulation_tools .draw_icon .col:hover {
    background: #DF691A;
    color: rgb(235, 235, 235) !important;
}

.floating_panel,
.sidebar .card {
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

.dropdown.bootstrap-select {
    background-color: #4E5D6C;
}

#edit_route_freedraw_options_color,
.dropdown.bootstrap-select .btn {
    background-color: #4E5D6C;
    color: #FFF;
    border: 1px solid #2B3E5066;
}

#edit_route_draw_container a {
    color: #FFF;
}

#edit_route_draw_actions_container .leaflet-draw-actions {
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;

    top: unset !important;
    position: unset !important;
    left: unset !important;
}

#edit_route_draw_actions_container .leaflet-draw-actions li {
    line-height: 35px;
}

#edit_route_draw_actions_container .leaflet-draw-actions a {
    background: inherit;
    color: #DF691A;
    font-size: 14px;
}

.button_hotkey_label {
    position: absolute;
    left: 10px;
    top: 0;
    z-index: 1;
}

/** Fix display type/beguiling enemy preset not filling full width of sidebar */
#map_enemy_visuals_container .leaflet-draw-section.leaflet-control {
    width: 100%;
}

#map-controls {
    height: 700px;
}

.map-scroll:before {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    content: '';
    background: #00000061;
    z-index: 999;
}

.map-scroll:after {
    content: 'Use ctrl + scroll to zoom the map';
    position: absolute;
    top: 50%;
    width: 100%;
    z-index: 999;
    font-size: 34px;
    color: #eaeaea;
    text-align: center;
}

/* Remove square background and border around enemies, but leave editing drag squares alone */
.leaflet-marker-icon.leaflet-div-icon:not(.leaflet-editing-icon):not(.leaflet-edit-marker-selected) {
    border: none;
    background-color: unset;
}

.leaflet-verticalcenter {
    position: absolute;
    z-index: 1000;
    pointer-events: none;
    top: 50%; /* possible because the placeholder's parent is the map */
    transform: translateY(-50%); /* using the CSS3 Transform technique */
}

.leaflet-verticalcenter .leaflet-control {
    margin-bottom: 10px;
}

.leaflet-horizontalcenter {
    position: absolute;
    z-index: 1000;
    pointer-events: none;
    left: 50%; /* possible because the placeholder's parent is the map */
    transform: translateX(-50%); /* using the CSS3 Transform technique */
}

.leaflet-horizontalcenter .leaflet-control {
    margin-right: 10px;
}

#map .dropdown-menu.show li {
    background-color: #2B3E50;
}

/** leaflet-marker-icon leaflet-div-icon leaflet-zoom-animated leaflet-interactive */
/** leaflet-marker-icon leaflet-div-icon leaflet-editing-icon leaflet-touch-icon leaflet-zoom-animated leaflet-interactive leaflet-marker-draggable */

.circleMenu-closed {
    opacity: 0;
}

.circleMenu-open {
    opacity: 1;
}

.leaflet-edit-marker-selected {
    border-color: yellow !important;
    border-radius: 4px !important; /* Fixes weird border */
}

.map_icon.leaflet-edit-marker-selected {
    margin-top: -4px !important;
    margin-left: -4px !important;
}

.mdt_enemy_icon.leaflet-edit-marker-selected {
    margin-top: -9px !important;
    margin-left: -9px !important;
}

.boss_enemy_icon {
    width: 32px;
    height: 32px;
}

.enemy_aggressiveness_correction {
    margin-top: -6px;
}

.modifier {
    position: absolute;
    width: 25px !important;
    height: 25px !important;
    background-color: white;
    border: 1px black solid;
    border-radius: 18px;
}

.map_enemy_raid_marker_circle_menu {
    z-index: 10000;
}

.map_enemy_raid_marker_item {
    background-color: white !important;
    border: 1px black solid;
    border-radius: 18px;
}

.badge_enemy_forces {
    font-size: 100%;
    margin-left: -4px;
    background-color: #00f8;
}

.col-3-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 29.1%;
    flex: 0 0 29.1%;
    max-width: 29.1%;
}

.enemy_icon {
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 100px;
}


/*
 * Enemy classes
 */
.melee {
    background-image: url('/images/enemyclasses/melee.png') !important;
}

.caster {
    background-image: url('/images/enemyclasses/caster.png') !important;
}

.ranged {
    background-image: url('/images/enemyclasses/ranged.png') !important;
}

.healer {
    background-image: url('/images/enemyclasses/healer.png') !important;
}

.boss {
    background-image: url('/images/enemyclassifications/boss.png') !important;
}

.enemy_icon.melee,
.enemy_icon.caster,
.enemy_icon.ranged,
.enemy_icon.healer,
.enemy_icon.enemy_forces {
    background-color: #2B3E50;
}

.enemy_icon.mdt {
    background-color: hotpink;
}

.enemy_icon.mdt.coupled {
    background-color: green;
}

/*
 * Enemy types
 */
.enemy_icon_npc_mdt,
.enemy_icon_npc_enemy_forces,
.enemy_icon_npc_enemy_portrait,
.enemy_icon_npc_class,
.enemy_icon_npc_type {
    background-color: white;
    border: black 2px solid;
    border-radius: 100px;
    background-blend-mode: luminosity;
}

.enemy_icon_npc_mdt {
    background-color: hotpink;
}

.enemy_icon_npc_enemy_forces.aggressive,
.enemy_icon_npc_class.aggressive,
.enemy_icon_npc_type.aggressive {
    background-color: #dc3c3c !important;
}

.enemy_icon_npc_enemy_forces.neutral,
.enemy_icon_npc_class.neutral,
.enemy_icon_npc_type.neutral {
    background-color: #cccc2d !important;
}

.enemy_icon_npc_enemy_forces.unfriendly,
.enemy_icon_npc_class.unfriendly,
.enemy_icon_npc_type.unfriendly {
    background-color: #ff9900 !important;
}

.enemy_icon_npc_enemy_forces.friendly,
.enemy_icon_npc_class.friendly,
.enemy_icon_npc_type.friendly {
    background-color: #15c415 !important;
}

.enemy_icon_npc_enemy_forces.awakened,
.enemy_icon_npc_class.awakened,
.enemy_icon_npc_type.awakened {
    background-color: #9200c4 !important;
}

.aberration {
    background-image: url('/images/enemytypes/aberration.png') !important;
}

.beast {
    background-image: url('/images/enemytypes/beast.png') !important;
}

.critter {
    background-image: url('/images/enemytypes/critter.png') !important;
}

.demon {
    background-image: url('/images/enemytypes/demon.png') !important;
}

.dragonkin {
    background-image: url('/images/enemytypes/dragonkin.png') !important;
}

.elemental {
    background-image: url('/images/enemytypes/elemental.png') !important;
}

.giant {
    background-image: url('/images/enemytypes/giant.png') !important;
}

.humanoid {
    background-image: url('/images/enemytypes/humanoid.png') !important;
}

.mechanical {
    background-image: url('/images/enemytypes/mechanical.png') !important;
}

.undead {
    background-image: url('/images/enemytypes/undead.png') !important;
}

.aggressive_enemy_icon {
    background-image: url('/images/mapicon/unset.png') !important; /* no-repeat center !important; */
    background-color: #dc3c3c;
}

.dangerous {
    border: 3px dashed #ff9900;
}

.modifier_external {
    width: 16px !important;
    height: 16px !important;
    background-color: unset;
    border: unset;
    border-radius: unset;
}

.classification_icon_elite {
    background-image: url('/images/enemyclassifications/elite.png') !important;
}

.truesight {
    background: white url('/images/enemymodifiers/truesight.png') no-repeat center !important;
    border: 1px black solid;
    border-radius: 18px;
}

.teeming {
    background: white url('/images/enemymodifiers/teeming.png') no-repeat center !important;
    border: 1px black solid;
    border-radius: 18px;
}

.awakened_obelisk {
    background: white url('/images/enemymodifiers/awakened_obelisk.png') no-repeat -5px -11px !important;
    border: 1px black solid;
    border-radius: 18px;
}


/*.enemy_icon_npc_type.beguiling {*/
/*    border: #7f2480 2px solid !important;*/
/*}*/


.neutral_enemy_icon {
    background-color: #cccc2d !important;
}

.unfriendly_enemy_icon {
    background-color: #ff9900 !important;
}

.friendly_enemy_icon {
    background-color: #15c415 !important;
}

.boss_enemy_icon {
    background: url('/images/enemyclassifications/boss.png') no-repeat center !important;
}

.flagged_enemy_icon {
    background-color: #cccc2d !important;
}

.mdt_enemy_icon {
    background-color: #4444ff !important;
}

.mdt_mismatched_enemy_icon {
    background-color: #ff9900 !important;
}

.mdt_ok_enemy_icon {
    background-color: #15c415 !important;
}

.door_icon {
    background: url('/images/mapicon/door.png') no-repeat center !important;
}

.door_locked_icon {
    background: url('/images/mapicon/door_locked.png') no-repeat center !important;
}

.door_up_icon {
    background: url('/images/mapicon/door_up.png') no-repeat center !important;
}

.door_down_icon {
    background: url('/images/mapicon/door_down.png') no-repeat center !important;
}

.door_left_icon {
    background: url('/images/mapicon/door_left.png') no-repeat center !important;
}

.door_right_icon {
    background: url('/images/mapicon/door_right.png') no-repeat center !important;
}

.dungeon_start_icon {
    background: url('/images/mapicon/dungeon_start.png') no-repeat center !important;
}

.graveyard_icon {
    background: url('/images/mapicon/graveyard.png') no-repeat center !important;
}

.warlock_gateway_icon {
    background: url('/images/mapicon/warlock_gateway.png') no-repeat center !important;
}

.killzone_icon_big {
    margin-left: -19px !important;
    margin-top: -19px !important;
    border-color: yellow !important;
}

.selected_enemy_icon {
    margin-top: -4px !important;
    margin-left: -4px !important;
}

#map_enemy_forces {
    font-size: 1.3em;
}

/* When in the sidebar, spread it out fully */
.sidebar #map_enemy_visuals {
    width: 100%;
}

#map_enemy_visuals {
    width: 200px;
}

.map_enemy_forces_too_little_warning,
.map_enemy_forces_too_much_warning {
    color: #f0ad4e;
}

.map_enemy_forces_ok {
    color: #5cb85c;
}

.profile_class_color,
.map_polyline_edit_popup_class_color {
    height: 32px;
    margin: 2px 10px;
    border-radius: 3px;
    cursor: pointer;
}

/* Class that's used for displaying custom markers with a font-awesome icon instead of the default marker */
.marker_div_icon {
    width: 30px;
    height: 30px;
    text-shadow: 2px 2px #1A1A1A;
}

.marker_div_icon_font_awesome {
    text-align: center; /* Horizontally center the text (icon) */
    line-height: 25px; /* Vertically center the text (icon) */
}

.marker_div_icon_dungeon_start_marker {
    color: #48a648;
}

.marker_div_icon_dungeon_floor_switch_marker {
    color: lightblue;
}

.marker_div_icon_killzone {
    color: #d12600;
    font-size: 30px;
}

.map_icon_div_icon_unknown {
    font-size: 16px;
}

.marker_div_icon_circle_border {
    border: 3px solid;
    border-radius: 15px;
}

.map_map_icon_comment_tooltip {
    min-width: 240px;
    white-space: normal;
    display: inline-block;
}

#map_ad_horizontal,
#map_ad_vertical {
    position: fixed;
    bottom: 0;
    z-index: 1020;
    margin-bottom: 16px;
}

#map_ad_horizontal {
    width: 100vw;
}

#map_ad_vertical {
    right: 0;
}


#map.mode-create {
    cursor: crosshair;
}

#map div.elbow {
    transition: background-color .25s;
    border: 2px solid white;
    outline: none;
    box-shadow: 0 0 3px rgba(0, 0, 0, .1);
    border-radius: 50%;
    pointer-events: none;
    background-color: #555;
}

#map.mode-edit div.elbow {
    cursor: move;
    pointer-events: all;
    background-color: orangered;
}

#map.mode-delete:not(.mode-append) path {
    cursor: not-allowed;
}

#map svg {
    position: absolute;
    z-index: 1001;
}

.flash {
    animation-name: flash-animation;
    animation-duration: 0.75s;
}

@keyframes flash-animation {
    from {
        color: #9DFF56;
    }
    to {
        color: inherit;
    }
}