body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

html, body, #map, #app, .wrapper {
    height: 100%;
    width: 100%;
}

/** HEADER */
#map_header {
    position: fixed;
    width: 100%;
    z-index: 100000;
}

.map_fade_out {
    opacity: 0.8;
    transition: opacity .2s ease-out;
    -moz-transition: opacity .2s ease-out;
    -webkit-transition: opacity .2s ease-out;
    -o-transition: opacity .2s ease-out;
}

.map_fade_out:hover {
    opacity: 1;
}

@media (max-width: 1200px) {
    #map_header {
        padding: 0.5rem;
    }
}

/** Embed map needs space for the top header */
.wrapper.embed_wrapper {
    height: calc(100vh - 96px);
}

#map.leaflet-container {
    font: unset;
    font-size: 12px;
}

.leaflet-tooltip-killzone-index {
    font-size: 24px;
    background-color: unset;
    border: unset;
    box-shadow: unset;
    font-weight: bold;
    color: white;
    text-shadow: black 2px 2px;
}

.leaflet-tooltip-killzone-index.leaflet-tooltip-right {
    margin-left: 20px;
}

/** Don't show a chevron when having a single enemy in your pull */
.leaflet-tooltip-killzone-index.leaflet-tooltip-right:before {
    content: unset;
}

.popup_select {
    width: 300px;
}

#map_controls .map_controls_custom,
#map_faction_display_controls .map_controls_custom {
    width: 50px;
    background-image: none;
}

.map_enemy_tooltip {
    width: 240px;
    white-space: normal;
}

.sidebar {
    width: 300px;
    position: fixed;
    top: 0;
    height: 100vh;
    /* Above NitroPay ads */
    z-index: 99999;
    transition: right 0.2s, left 0.2s;
}

/** Tooltips should show above the sidebar */
.tooltip {
    z-index: 100070 !important;
}

.sidebar.anchor-left {
    left: -300px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

.sidebar.anchor-left.active {
    left: 0;
}

.sidebar.anchor-right {
    right: -300px;
    box-shadow: -3px 3px 3px rgba(0, 0, 0, 0.2);
}

.sidebar.anchor-right.active {
    right: 0;
}

.sidebar-toggle {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;

    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;

    position: fixed;
    top: 106px;
    cursor: pointer;
    z-index: 100000;
}

.sidebar-toggle.anchor-left {
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    left: 0;
}

.sidebar-toggle.anchor-right {
    box-shadow: -3px 3px 3px rgba(0, 0, 0, 0.2);
    right: 0;
}

.sidebar-toggle.anchor-left.active {
    left: 300px;
}

.sidebar-toggle.anchor-right.active {
    right: 300px;
}

.embed,
.sidebar .sidebar-header {
    padding: 10px 20px;
    text-shadow: black 2px 2px;
}

.embed {
    border-bottom: 1px black solid;
}

#embed_copy_mdt_string {
    text-shadow: none;
}

/** Shadow looks strange on the FA icons in embed */
#embed_copy_mdt_string_loader,
#embed_copy_mdt_string {
    text-shadow: none;
}

.sidebar .sidebar-header {
    height: 106px;
}

.sidebar-background {
    border-radius: 5px;
    padding: 3px;
}

/* Force reserve height */
.embed h4,
.sidebar .sidebar-header h4 {
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap
}

.embed .embed-header-subtitle,
.sidebar .sidebar-header-subtitle {
    padding-left: 10px;
    min-height: 25px;
}

.sidebar .sidebar-header-pulls-spacer {
    min-height: 11px;
}

.sidebar .sidebar-content .container {
    padding: 0 15px;
}

.sidebar .sidebar-content {
    padding-top: 10px;
    /** Bit of a hack, but the 106 is the height of the header which somehow isn't taken into account */
    height: calc(100vh - 106px);
    overflow: auto;
}

#killzonesidebar.sidebar {
    user-select: none;
}

.sidebar .sidebar-content .card-body {
    padding: 0.75rem 1.25rem;
}

#pulls_sidebar,
#pulls_sidebar .bg-header {
    padding-right: 0 !important;
    user-select: none;
}

#pulls_sidebar.active {
    right: 0;
}

@media (max-width: 1440px) {
    #pulls_sidebar,
    #pulls_sidebar .bg-header {
        width: 350px;
        padding-right: 0 !important;

        -webkit-transition: right 0.2s;
        -o-transition: right 0.2s;
        transition: right 0.2s;
    }

    #pulls_sidebar:not(.active) {
        right: -350px;
    }
}

@media (min-width: 1440px) {
    #pulls_sidebar,
    #pulls_sidebar .bg-header {
        width: 400px;
        padding-right: 0 !important;
    }

    #pulls_sidebar:not(.active) {
        right: -400px;
    }
}

@media (min-width: 1920px) {
    #pulls_sidebar,
    #pulls_sidebar .bg-header {
        width: 450px;
        padding-right: 0 !important;
    }

    #pulls_sidebar:not(.active) {
        right: -450px;
    }
}

#pulls_sidebar:not(.mobile) .pulls_container {
    /** Bit of a hack, but the 158 is the height of the header now which somehow isn't taken into account */
    max-height: calc(100vh - 158px);
}

#pulls_sidebar:not(.mobile) .edit .pulls_container {
    /** 55 px is the height of the buttons at the top in the edit scenario */
    max-height: calc(100vh - (158px + 55px));
}

/** Mobile heights */
#pulls_sidebar .handle {
    background-color: #2E2E2E;
    left: -40px;
    padding: 10px 15px;
    position: absolute;
    top: 0;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

#pulls_sidebar .pulls_container {
    max-height: calc(100vh - 109px);
}

#pulls_sidebar .edit .pulls_container {
    /** 55 px is the height of the buttons at the top in the edit scenario */
    max-height: calc(100vh - (109px + 55px));
}

#pulls_sidebar .map_killzonessidebar_killzone_fill_space {
    flex: 1 1 auto
}

#pulls_sidebar [data-toggle="collapse"] .fa:before {
    content: "\f077";
}

#pulls_sidebar [data-toggle="collapse"].collapsed .fa:before {
    content: "\f078";
}

#pulls_sidebar .map_killzonessidebar_floor_switch h6 {
    font-size: 1.1rem;
}

#pulls_sidebar .map_killzonessidebar_floor_switch,
#pulls_sidebar .map_killzonessidebar_killzone.selectable {
    cursor: pointer;
}

#pulls_sidebar .map_killzonessidebar_floor_switch,
#pulls_sidebar .map_killzonessidebar_killzone .grip {
    cursor: move;
    font-size: 1.2em;
}

#pulls_sidebar .map_killzonessidebar_color_btn {
    cursor: pointer;
}

#pulls_sidebar .pickr {
    flex: 1 1 auto;
}

.pull_settings_tools .pickr {
    height: 100%;
}

/** Should render above modals */
.pcr-app {
    z-index: 100100;
}

#pulls_sidebar .map_killzonessidebar_killzone .selected .text-success {
    color: unset !important;
}

.grapick_color_picker_button_outer {
    left: -6px;
    top: -9px;
}

.grapick_color_picker_button {
    width: 12px !important;
    height: 12px !important;
    padding: 0 !important;
}

#edit_route_echo_members_container .list-group-item:not(.separator),
#edit_route_echo_status_container .list-group-item:not(.separator) {
    background-color: inherit;
    width: 36px;
    height: 36px;
}

.theme #edit_route_echo_members_container button i {
    font-size: 1.15rem;
}

.theme #edit_route_echo_members_container .dropdown .nav-link,
.theme #edit_route_echo_members_container .dropdown .nav-link img {
    padding: 0 !important;
    width: 30px;
    height: 30px;
    font-size: 1.15rem;
}

.theme .echo_user {
    border-radius: 30px !important;
}

.map_ad_background {
    background-color: rgba(78, 93, 108, 0.75);
}

.popover #map_dungeon_route_info_popover_container {
    font-size: 1rem;
}

.route_manipulation_tools {
    position: fixed;
    z-index: 99999;
    top: 70px;
    align-items: flex-start !important;
}

.route_manipulation_tools.right {
    right: 0;
}

.route_manipulation_tools .bg-header {
    padding-right: 0.5rem !important;
    padding-bottom: 0.5rem !important;
    margin-left: 0 !important;
}

@media (min-width: 1200px) {
    .route_manipulation_tools.top {
        padding-top: 1rem !important;
    }

    #pulls_sidebar_trigger {
        margin-top: 1rem !important;
    }

    .route_manipulation_tools:not(.top) {
        top: unset;
        align-items: center !important;
    }

    .route_manipulation_tools .bg-header {
        padding: 0.5rem !important;
    }

    .route_manipulation_tools.left .bg-header {
        margin-left: 0.5rem !important;
    }

    .route_manipulation_tools.right .bg-header {
        margin-right: 0.5rem !important;
    }

    #enemy_info_container {
        margin: 0.5rem !important;
    }
}

#enemy_info_container {
    width: 300px;
    margin: 0 !important;
    z-index: 100000;
}

#enemy_info_container .card {
    border-radius: 0 !important;
}

#echo_connected_container {
    font-size: 1.3em;
    cursor: pointer;
}


.echo_connected {
    color: green;
}

.echo_disconnected {
    color: red;
}

.echo_member_header_column_container {
    -ms-flex: 0 0 50px;
    flex: 0 0 50px;
}

.echo_member_column_container {
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.echo_member_column {
    -ms-flex: 0 0 100px;
    flex: 0 0 100px;
}

.route_manipulation_tools .draw_icon {
    text-align: center;
    cursor: pointer;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.route_manipulation_tools .draw_element {
    text-align: center;
    margin-top: 8px;
}

.route_manipulation_tools .draw_element .bootstrap-select {
    height: 100%;
}

.route_manipulation_tools .draw_icon.leaflet-disabled .col,
.route_manipulation_tools .draw_icon.leaflet-disabled .col:hover {
    background: gray;
    color: inherit;
    text-decoration: unset;
    cursor: default;
}

.floating_panel,
.sidebar .card {
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

.leaflet-draw-toolbar {
    margin-top: 0;
}

/** Fix a boatload of 404s being thrown because of missing images/spritesheet.svg */
.leaflet-draw-toolbar a {
    background-image: none !important;
}

#edit_route_draw_actions_container .leaflet-draw-actions {
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;

    top: unset !important;
    position: unset !important;
    left: unset !important;
    margin: 0 !important;
}

#edit_route_draw_actions_container .leaflet-draw-actions li {
    line-height: 35px;
}

#edit_route_draw_actions_container .leaflet-draw-actions a {
    font-size: 14px;
}

.button_hotkey_label {
    position: absolute;
    left: 10px;
    top: 0;
    z-index: 1;
}

/** Fix display type/beguiling enemy preset not filling full width of sidebar */
#map_enemy_visuals_container .leaflet-draw-section.leaflet-control {
    width: 100%;
}

#map-controls {
    height: 700px;
}

/* Remove square background and border around enemies, but leave editing drag squares alone */
.leaflet-marker-icon.leaflet-div-icon:not(.leaflet-editing-icon):not(.leaflet-edit-marker-selected) {
    border: none;
    background-color: unset;
    outline: none !important;
}

.leaflet-verticalcenter {
    position: absolute;
    z-index: 1000;
    pointer-events: none;
    top: 50%; /* possible because the placeholder's parent is the map */
    transform: translateY(-50%); /* using the CSS3 Transform technique */
}

.leaflet-verticalcenter .leaflet-control {
    margin-bottom: 10px;
}

.leaflet-horizontalcenter {
    position: absolute;
    z-index: 1000;
    pointer-events: none;
    left: 50%; /* possible because the placeholder's parent is the map */
    transform: translateX(-50%); /* using the CSS3 Transform technique */
}

.leaflet-horizontalcenter .leaflet-control {
    margin-right: 10px;
}

/** leaflet-marker-icon leaflet-div-icon leaflet-zoom-animated leaflet-interactive */
/** leaflet-marker-icon leaflet-div-icon leaflet-editing-icon leaflet-touch-icon leaflet-zoom-animated leaflet-interactive leaflet-marker-draggable */

.circleMenu-closed {
    opacity: 0;
}

.circleMenu-open {
    opacity: 1;
}

.leaflet-edit-marker-selected {
    border-color: yellow !important;
    border-radius: 4px !important; /* Fixes weird border */
}

.leaflet-edit-marker-selected.delete {
    border-color: red !important;
}

.map_icon.leaflet-edit-marker-selected.leaflet-marker-icon {
    border: unset;
    background-color: unset;
}

.mdt_enemy_icon.leaflet-edit-marker-selected {
    margin-top: -9px !important;
    margin-left: -9px !important;
}

.boss_enemy_icon {
    width: 32px;
    height: 32px;
}

.enemy_aggressiveness_correction {
    margin-top: -6px;
}

.modifier {
    position: absolute;
    width: 25px !important;
    height: 25px !important;
    background-color: white;
    border: 1px black solid;
    border-radius: 18px;
}

.map_enemy_raid_marker_circle_menu {
    z-index: 10000;
}

.map_enemy_raid_marker_item {
    background-color: white !important;
    border: 1px black solid;
    border-radius: 18px;
}

.badge_enemy_forces {
    font-size: 100%;
    margin-left: -4px;
    background-color: #00f8;
}

.col-3-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 29.1%;
    flex: 0 0 29.1%;
    max-width: 29.1%;
}

.enemy_icon {
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 100px;
}

/** Odd case where the background would otherwise be white and it'd show through the border */
.enemy_icon.enemy_portrait.dangerous {
    background-color: black;
}

/*
 * Enemy classes
 */
.melee {
    background-image: url('/images/enemyclasses/melee.png') !important;
}

.caster {
    background-image: url('/images/enemyclasses/caster.png') !important;
}

.ranged {
    background-image: url('/images/enemyclasses/ranged.png') !important;
}

.healer {
    background-image: url('/images/enemyclasses/healer.png') !important;
}

.boss {
    background-image: url('/images/enemyclassifications/boss.png') !important;
}

.enemy_icon.mdt {
    background-color: hotpink;
}

.enemy_icon.mdt.coupled {
    background-color: green;
}

/*
 * Enemy types
 */
.enemy_icon_npc_mdt,
.enemy_icon_npc_enemy_forces,
.enemy_icon_npc_enemy_portrait,
.enemy_icon_npc_class,
.enemy_icon_npc_type {
    border: black 2px solid;
    border-radius: 100px;
    background-blend-mode: luminosity;
}

.enemy_icon_npc_enemy_portrait {
    background-color: black;
}

.enemy_icon_npc_mdt {
    background-color: hotpink;
}

.enemy_icon_npc_enemy_portrait.aggressive,
.enemy_icon_npc_enemy_forces.aggressive,
.enemy_icon_npc_class.aggressive,
.enemy_icon_npc_type.aggressive {
    background-color: #dc3c3c !important;
}

.enemy_icon_npc_enemy_portrait.neutral,
.enemy_icon_npc_enemy_forces.neutral,
.enemy_icon_npc_class.neutral,
.enemy_icon_npc_type.neutral {
    background-color: #cccc2d !important;
}

.enemy_icon_npc_enemy_portrait.unfriendly,
.enemy_icon_npc_enemy_forces.unfriendly,
.enemy_icon_npc_class.unfriendly,
.enemy_icon_npc_type.unfriendly {
    background-color: #ff9900 !important;
}

.enemy_icon_npc_enemy_portrait.friendly,
.enemy_icon_npc_enemy_forces.friendly,
.enemy_icon_npc_class.friendly,
.enemy_icon_npc_type.friendly {
    background-color: #15c415 !important;
}

.enemy_icon_npc_enemy_portrait.awakened,
.enemy_icon_npc_enemy_forces.awakened,
.enemy_icon_npc_class.awakened,
.enemy_icon_npc_type.awakened {
    background-color: #9200c4 !important;
}

.aberration {
    background-image: url('/images/enemytypes/aberration.png') !important;
}

.beast {
    background-image: url('/images/enemytypes/beast.png') !important;
}

.critter {
    background-image: url('/images/enemytypes/critter.png') !important;
}

.demon {
    background-image: url('/images/enemytypes/demon.png') !important;
}

.dragonkin {
    background-image: url('/images/enemytypes/dragonkin.png') !important;
}

.elemental {
    background-image: url('/images/enemytypes/elemental.png') !important;
}

.giant {
    background-image: url('/images/enemytypes/giant.png') !important;
}

.humanoid {
    background-image: url('/images/enemytypes/humanoid.png') !important;
}

.mechanical {
    background-image: url('/images/enemytypes/mechanical.png') !important;
}

.undead {
    background-image: url('/images/enemytypes/undead.png') !important;
}

.aggressive_enemy_icon {
    background-image: url('/images/mapicon/unset.png') !important; /* no-repeat center !important; */
    background-color: #dc3c3c;
}

.dangerous {
    border: 3px dashed #ff9900;
}

.modifier_external {
    width: 16px !important;
    height: 16px !important;
    background-color: unset;
    border: unset;
    border-radius: unset;
}

.classification_icon_elite {
    background-image: url('/images/enemyclassifications/elite.png') !important;
}

.truesight {
    background: white url('/images/enemymodifiers/truesight.png') no-repeat center !important;
    border: 1px black solid;
    border-radius: 18px;
}

.teeming {
    background: white url('/images/enemymodifiers/teeming.png') no-repeat center !important;
    border: 1px black solid;
    border-radius: 18px;
}

.modifier_awakened {
    background: white url('/images/enemymodifiers/awakened.png') repeat center !important;
    border: 1px black solid;
    border-radius: 18px;
}

.modifier_prideful {
    background: white url('/images/enemymodifiers/prideful.png') repeat center !important;
    border: 1px black solid;
    border-radius: 18px;
}

.modifier_inspiring {
    background: white url('/images/enemymodifiers/inspiring.png') repeat center !important;
    border: 1px black solid;
    border-radius: 18px;
}


/*.enemy_icon_npc_type.beguiling {*/
/*    border: #7f2480 2px solid !important;*/
/*}*/


.neutral_enemy_icon {
    background-color: #cccc2d !important;
}

.unfriendly_enemy_icon {
    background-color: #ff9900 !important;
}

.friendly_enemy_icon {
    background-color: #15c415 !important;
}

.boss_enemy_icon {
    background: url('/images/enemyclassifications/boss.png') no-repeat center !important;
}

.flagged_enemy_icon {
    background-color: #cccc2d !important;
}

.mdt_enemy_icon {
    background-color: #4444ff !important;
}

.mdt_mismatched_enemy_icon {
    background-color: #ff9900 !important;
}

.mdt_ok_enemy_icon {
    background-color: #15c415 !important;
}

.door_icon {
    background: url('/images/mapicon/door.png') no-repeat center !important;
}

.door_locked_icon {
    background: url('/images/mapicon/door_locked.png') no-repeat center !important;
}

.door_up_icon {
    background: url('/images/mapicon/door_up.png') no-repeat center !important;
}

.door_down_icon {
    background: url('/images/mapicon/door_down.png') no-repeat center !important;
}

.door_left_icon {
    background: url('/images/mapicon/door_left.png') no-repeat center !important;
}

.door_right_icon {
    background: url('/images/mapicon/door_right.png') no-repeat center !important;
}

.dungeon_start_icon {
    background: url('/images/mapicon/dungeon_start.png') no-repeat center !important;
}

.graveyard_icon {
    background: url('/images/mapicon/graveyard.png') no-repeat center !important;
}

.warlock_gateway_icon {
    background: url('/images/mapicon/warlock_gateway.png') no-repeat center !important;
}

.killzone_icon_big {
    margin-left: -19px !important;
    margin-top: -19px !important;
    border-color: yellow !important;
}

.selected_enemy_icon {
    margin-top: -4px !important;
    margin-left: -4px !important;
}

#map_enemy_forces {
    font-size: 1.3em;
}

/* When in the sidebar, spread it out fully */
.sidebar #map_enemy_visuals {
    width: 100%;
}

#map_enemy_visuals {
    width: 200px;
}

.map_enemy_forces_too_little_warning,
.map_enemy_forces_too_much_warning {
    color: #f0ad4e;
}

.map_enemy_forces_ok {
    color: #5cb85c;
}

.profile_class_color,
.map_polyline_edit_popup_class_color {
    height: 32px;
    margin: 2px 10px;
    border-radius: 3px;
    cursor: pointer;
}

/* Class that's used for displaying custom markers with a font-awesome icon instead of the default marker */
.marker_div_icon {
    width: 30px;
    height: 30px;
    text-shadow: 2px 2px #1A1A1A;
}

.marker_div_icon_font_awesome {
    text-align: center; /* Horizontally center the text (icon) */
    line-height: 25px; /* Vertically center the text (icon) */
}

.marker_div_icon_dungeon_start_marker {
    color: #48a648;
}

.marker_div_icon_dungeon_floor_switch_marker {
    color: lightblue;
}

.marker_div_icon_killzone {
    color: #d12600;
    font-size: 30px;
}

.map_icon_div_icon_unknown {
    font-size: 16px;
}

.marker_div_icon_circle_border {
    border: 3px solid;
    border-radius: 15px;
}

.map_map_icon_comment_tooltip {
    min-width: 240px;
    white-space: normal;
    display: inline-block;
}

#map_ad_horizontal,
#map_ad_vertical {
    position: fixed;
    bottom: 0;
    z-index: 1020;
    margin-bottom: 16px;
}

#map_ad_horizontal {
    width: 100vw;
}

#map_ad_vertical {
    right: 0;
}


#map.mode-create {
    cursor: crosshair;
}

#map div.elbow {
    transition: background-color .25s;
    border: 2px solid white;
    outline: none;
    box-shadow: 0 0 3px rgba(0, 0, 0, .1);
    border-radius: 50%;
    pointer-events: none;
    background-color: #555;
}

#map.mode-edit div.elbow {
    cursor: move;
    pointer-events: all;
    background-color: orangered;
}

#map.mode-delete:not(.mode-append) path {
    cursor: not-allowed;
}

#map svg {
    position: absolute;
    z-index: 1001;
}

.flash {
    animation-name: flash-animation;
    animation-duration: 0.75s;
}

@keyframes flash-animation {
    from {
        color: #9DFF56;
    }
    to {
        color: inherit;
    }
}