/*.tier {*/
/*    color: #000;*/
/*}*/
/*.tier.f {*/
/*    background-color: #9d9d9d;*/
/*}*/

/*.tier.d {*/
/*    background-color: #ffffff;*/
/*}*/

/*.tier.c {*/
/*    background-color: #1eff00;*/
/*}*/

/*.tier.b {*/
/*    background-color: #0070dd;*/
/*}*/

/*.tier.a {*/
/*    background-color: #a335ee;*/
/*}*/

/*.tier.s {*/
/*    background-color: #ff8000;*/
/*}*/


.tier.f {
    color: #9d9d9d;
}

.tier.d {
    color: #ffffff;
}

.tier.c {
    color: #1eff00;
}

.tier.b {
    color: #0070dd;
}

.tier.a {
    color: #a335ee;
}

.tier.s {
    color: #ff8000;
}