.border-1 {
    border: 1px solid !important;
}

.border-2 {
    border: 2px solid !important;
}

.border-3 {
    border: 3px solid !important;
}

.raider_io_staff_text {
    color: #ffbd0a !important;
}
