<div class="row affix_row_container no-gutters">
    {{#affixes}}
        <div class="col affix_row">
            <div class="select_icon affix_icon_{{class}}" style="height: 24px;"> </div>
        </div>
    {{/affixes}}
</div>