<span class="target_tooltip" data-toggle="tooltip" data-html="true">
    {{count}} {{selected_label}}
</span>
<div class="affix_list_row_container">
    {{#affixgroups}}
    <div class="row affix_list_row no-gutters" style="width: 200px">
        {{#affixes}}
        <div class="affix_row col-md-3">
            <div class="select_icon affix_icon_{{class}} mr-2" style="height: 24px;">
                &nbsp;
            </div>
        </div>
        {{/affixes}}
    </div>
    {{/affixgroups}}
</div>