{{#affixgroups}}
    <div class="affix_list_row row no-gutters">
        {{#affixes}}
            <div class="affix_row float-left">
                <div class="select_icon affix_icon_{{class}} mr-2" style="height: 24px;" data-toggle="tooltip"
                     title="{{name}}">
                    &nbsp;
                </div>
            </div>
        {{/affixes}}
    </div>
{{/affixgroups}}
