{{#affixgroups}}
    <div class="affix_list_row row g-0">
        {{#affixes}}
            <div class="affix_row float-start">
                <div class="select_icon affix_icon_{{class}} me-2" style="height: 24px;" data-bs-toggle="tooltip"
                     title="{{name}}">
                    &nbsp;
                </div>
            </div>
        {{/affixes}}
        {{#if seasonal_index}}
            <div class="affix_row float-start">
            {{seasonal_index}}
            </div>
        {{/if}}
    </div>
{{/affixgroups}}
