<div class="row no-gutters">
    <div class="col-auto">
        <i class="fas fa-eye"></i>
    </div>
    <div class="col ml-1">
        <span class="views">{{views}}/{{views_embed}}</span>
    </div>
</div>
<div class="row no-gutters">
    <div class="col-auto">
        <i class="fas fa-copy"></i>
    </div>
    <div class="col ml-1">
        <span class="copies">{{copy_view}}/{{copy_embed}}</span>
    </div>
</div>
