<div class="row no-gutters">
    <div class="col">
        <div class="btn btn-danger dungeonroute-clone"
             data-publickey="{{public_key}}">{{clone_label}}</div>
    </div>
    <div class="col mt-2 mt-xl-0">
        <div class="btn btn-danger dungeonroute-delete"
             data-publickey="{{public_key}}">{{delete_label}}</div>
    </div>
</div>