<div class="align-top">
    <div class="row">
        <div class="col">
            {{{title}}}
        </div>
    </div>
    {{#if description}}
        <div class="row">
            <div class="col description-container">
        <span class="description-content">
            {{{description}}}
        </span>
            </div>
        </div>
    {{/if}}
    {{#if tags}}
        <div class="row">
            <div class="col">
                {{{tags}}}
            </div>
        </div>
    {{/if}}
</div>
