<div class="row no-gutters">
    <div class="col-auto select_icon mr-2 {{css_class}}" style="height: 24px;" data-toggle="tooltip"
         title="{{faction_title}}">
    </div>
    {{#classes}}
        <div class="col-auto select_icon mr-2 class_icon {{css_class}}" style="height: 24px;" data-toggle="tooltip"
             title="{{title}}">
        </div>
    {{/classes}}
</div>
