<ul id="map_enemy_raid_marker_radial_{{id}}">
    <li>
        <a href="#">
            +
        </a>
    </li>
    <li><a href="#">
        <div class="star_enemy_icon" style=""></div>
    </a></li>
    <li><a href="#">
        <div class="circle_enemy_icon" style=""></div>
    </a></li>
    <li><a href="#">
        <div class="diamond_enemy_icon" style=""></div>
    </a></li>
    <li><a href="#">
        <div class="triangle_enemy_icon" style=""></div>
    </a></li>
    <li><a href="#">
        <div class="moon_enemy_icon" style=""></div>
    </a></li>
    <li><a href="#">
        <div class="square_enemy_icon" style=""></div>
    </a></li>
    <li><a href="#">
        <div class="cross_enemy_icon" style=""></div>
    </a></li>
    <li><a href="#">
        <div class="skull_enemy_icon" style=""></div>
    </a></li>
</ul>