<div class="row no-gutters">
    <div class="col">
        {{ echo_following_user_label }} {{ name }}
    </div>
    <div class="col-auto">
        <button id="route_echo_unfollow_user" class="btn btn-warning btn-sm">
            {{ echo_unfollow_user_label }}
        </button>
    </div>
</div>