<div class="row no-gutters text-center h-100">
    <div style="position: absolute; left: 10px; top: 0; z-index: 1;">
        {{hotkey}}
    </div>
    <div class="col p-1 ml-1 mr-1" style="display: flex; justify-content: center; align-items: center;">
        <div class="text-center">
            <i class="fas {{ fa_class }} "></i> {{ text }}
        </div>
    </div>
</div>