<div id="{{id}}" class="row mt-2 p-2 map_fade_out" style="border-radius: 7px;">
    <div class="col">

    </div>
    <div class="col-auto bg-secondary">
        {{{ html }}}
    </div>
    <div class="col">

    </div>
</div>
