<li class="list-group-item p-2 m-1 echo_user_{{slug}} user_color_{{slug}}"
    {{#if self}}
    data-toggle="tooltip" title="{{member_self_title_label}}"
    {{/if}}
>
    {{#if self}}
        <i class="fas fa-portrait"></i>
    {{/if}}
    {{name}}
</li>