<div class="row no-gutters {{text-class}}">
    <div class="col">
        <div class="input-group">
            <div class="input-group-prepend" style="width: 24px;">
                {{#if dangerous}}
                <i class="fa fa-exclamation-triangle text-warning" title="Dangerous enemy" style="line-height: 1.6"></i>
                {{/if}}
            </div>
            <div class="input-group-prepend" style="width: 24px;">
                {{enemy_forces}}
            </div>
            <div>
                {{count}}x {{name}}
            </div>
        </div>
    </div>
</div>