<div id="map_enemy_visual_{{id}}_enemy_portrait"
     class="enemy_icon_npc_enemy_portrait_inner"
     style="background-image: url('/images/enemyportraits/{{npcId}}.png');">
    {{#if obsolete}}
        <span class="obsolete text-danger" style="font-size: {{width}}px; background-color: black; border-radius: 100px">
            <i class="fa fa-times-circle"></i>
        </span>
    {{else}}
        &nbsp;
    {{/if}}
</div>