<div id="map_enemy_forces" class="fw-bold">
    <span id="map_enemy_forces_status" class="sidebar-background pe-1 d-none d-md-inline-block" data-bs-toggle="tooltip" data-bs-placement="bottom">
        <i id="map_enemy_forces_success" class="fas fa-check-circle" style="display: none;"></i>
        <i id="map_enemy_forces_warning" class="fas fa-exclamation-triangle" style="display: none;"></i>
    </span>
    <span id="map_enemy_forces_percent" data-bs-toggle="tooltip" data-bs-placement="bottom" style="cursor: default">0%</span>
    <i id="map_enemy_forces_override_warning" class="fas fa-exclamation-triangle text-warning" style="display: none;"
       data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{enemy_forces_overridden_label}}"></i>
</div>
