<div id="map_enemy_forces" class="font-weight-bold text-center">
    <span id="map_enemy_forces_status" class="sidebar-background pr-1" data-toggle="tooltip">
        <i id="map_enemy_forces_success" class="fas fa-check-circle" style="display: none;"></i>
        <i id="map_enemy_forces_warning" class="fas fa-exclamation-triangle" style="display: none;"></i>
    </span>
    <span style="cursor: default">
        <span id="map_enemy_forces_count">0</span>/<span id="map_enemy_forces_count_total">{{enemy_forces_total}}</span>
        (<span id="map_enemy_forces_percent">0</span>)
    </span>
    <i id="map_enemy_forces_override_warning" class="fas fa-exclamation-triangle text-warning" style="display: none;"
       data-toggle="tooltip" title="{{enemy_forces_overridden_label}}"></i>
</div>
