<div class="row no-gutters">
    <div class="col-auto">
        <img style="width: 32px; height: 32px" src="/images/mapicon/{{key}}.png"/>
    </div>
    <div class="col pl-2">
        {{name}}
    </div>
</div>
