<div class="row no-gutters">
    <div class="col text-center">
        {{ mapping_version_upgrade_label }}
    </div>
    <div class="col-auto">
        <a class="btn-sm btn-success" href="{{ upgrade_url }}">
            <i class="fa fa-arrow-up"></i> {{ upgrade_label }}
        </a>
    </div>
</div>
