<div class="row no-gutters" data-toggle="tooltip" data-placement="right"
     title="{{title}}" data-html="true">
    <div class="col btn
        {{#ifCond btnType '!=' '' }}
        {{ btnType }}
    {{else}}
            btn-info
        {{/ifCond}}
        ">
        <i class="fas {{ fa_class }}"></i>
    </div>
</div>
