<div class="row no-gutters">
    <div class="col">
        {{ echo_following_user_stopped_label }} {{ name }}
    </div>
    <div class="col-auto px-2">
        <button id="route_echo_refollow_user" class="btn btn-success btn-sm">
            {{ echo_refollow_user_label }}
        </button>
    </div>
    <div class="col-auto">
        <button id="route_echo_follow_stop_user" class="btn btn-outline-danger btn-sm">
            {{ echo_refollow_user_stop_label }}
        </button>
    </div>
</div>