<div class="row g-0 text-center">
    <div class="col">
        {{tooltipText}}
    </div>
</div>
<div class="row g-0 spells_row">
    <div class="col-auto mx-auto">
        {{#each spells}}
            <img src="{{icon_url}}"
                 class="spell_small"
                 style="border: 1px solid {{../pull_color}}"/>
        {{/each}}
    </div>
</div>