<div class="col-auto" data-toggle="tooltip" title="{{name}}" style="height: 38px;">
    <div class="row no-gutters align-items-center" style="height: 38px;">
        <div class="col-auto">
            <img src="{{icon_url}}"
                 class="spell_small mr-1"
                 style="border: 1px solid {{pull_color}};"/>
        </div>
    </div>
</div>
