<div class="row">
    <div class="col">
        <h5>{{ search_results_label }}</h5>
    </div>
</div>

<div class="row">
    <div class="col search_results">
        {{{ search_results }}}
    </div>
</div>
