<div id="map_enemy_forces" class="font-weight-bold">
    <span id="map_enemy_forces_status" class="sidebar-background pr-1" data-toggle="tooltip" data-placement="bottom">
        <i id="map_enemy_forces_success" class="fas fa-check-circle" style="display: none;"></i>
        <i id="map_enemy_forces_warning" class="fas fa-exclamation-triangle" style="display: none;"></i>
    </span>
    <span id="map_enemy_forces_percent" data-toggle="tooltip" data-placement="bottom" style="cursor: default">0</span>%
    <i id="map_enemy_forces_override_warning" class="fas fa-exclamation-triangle text-warning" style="display: none;"
       data-toggle="tooltip" data-placement="bottom" title="{{enemy_forces_overridden_label}}"></i>
</div>
