<div class="row no-gutters text-center h-100">
    <div class="col p-1 d-flex align-items-center">
        <div class="text-center flex-grow-1">
            <i class="fas {{ fa_class }} "></i> {{ text }}
        </div>
    </div>
</div>