<div class="col-auto" data-toggle="tooltip" title="{{name}}">
    <div class="row no-gutters">
        <div class="col">
            <img src="/images/enemyportraits/{{id}}.png" style="height: 37px; width: 37px; border-radius: 30px; border: 2px solid {{pull_color}}"/>
            <div class="text-center text-white" style="position: relative; margin-top: -23px; text-shadow: black 1px 1px;">
                {{count}}x
            </div>
        </div>
    </div>
</div>