<div id="map_killzone_edit_popup_inner" class="popupCustom">
    <div class="form-group">
        <label for="map_killzone_edit_popup_color_{{id}}">{{color_label}}</label>
        <input type="color" id="map_killzone_edit_popup_color_{{id}}" class="form-control"/>
    </div>
    <input type="submit" id="map_killzone_edit_popup_submit_{{id}}" class="btn btn-info"/>
</div>