<select id="map_enemy_visuals_dropdown" class="form-control selectpicker" name="map_enemy_visuals_dropdown">
    {{#select enemy_visual_type}}
        <option value="enemy_portrait">{{ enemy_portrait_label }}</option>
        <option value="npc_class">{{ npc_class_label }}</option>
        <option value="npc_type">{{ npc_type_label }}</option>
        <option value="enemy_forces">{{ enemy_forces_label }}</option>
    {{/select}}
</select>