<div class="row no-gutters text-center h-100">
    <div class="col p-1 ml-1 mr-1">
        <div class="text-center">
            <i class="fas {{ fa_class }} "></i> {{ text }}
        </div>
    </div>
</div>