<div class="row no-gutters">
    <div class="col">
        {{ overpull_select_enemy_label }}
    </div>
    <div class="col-auto">
        <button id="overpull_selection_finished" class="btn btn-success btn-sm">
            {{ overpull_selection_finished_label }}
        </button>
    </div>
</div>