<div class="row">
    <div class="col">
        <div id="dungeon_route_compare_activate_a_btn" class="btn btn-info w-100">
            {{ dungeon_route_compare_activate_a_label }}
        </div>
    </div>
    <div class="col">
        <div id="dungeon_route_compare_activate_b_btn" class="btn btn-info w-100">
            {{ dungeon_route_compare_activate_b_label }}
        </div>
    </div>
</div>
