<div class="col draw_element">
    <div class="ml-1 mr-1">
        <input id="edit_route_freedraw_options_color" class="form-control" name="edit_route_freedraw_options_color"
               type="color" value="{{ color }}">
    </div>
</div>

<div class="col draw_element">
    <div class="ml-1 mr-1">
        <select id="edit_route_freedraw_options_weight" class="form-control selectpicker"
                name="edit_route_freedraw_options_weight">
            {{#select weight}}
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
            {{/select}}
        </select>
    </div>
</div>