<div id="map_enemy_forces" class="font-weight-bold" data-toggle="tooltip">
    <span id="map_enemy_forces_numbers" class="sidebar-background">
        <i id="map_enemy_forces_success" class="fas fa-check-circle" style="display: none;"></i>
        <i id="map_enemy_forces_warning" class="fas fa-exclamation-triangle" style="display: none;"></i>
        <span id="map_enemy_forces_count">0</span>/<span id="map_enemy_forces_count_total">{{enemy_forces_total}}</span> (<span
            id="map_enemy_forces_percent">0</span>%)
    </span>
</div>