<div id="map_enemy_visual_{{id}}_enemy_forces"
     class="align-middle text-center enemy_icon_npc_enemy_forces_inner"
     style="font-size: {{width}}px;">
    <div class="my-auto w-100">{{displayText}}</div>
</div>