<div id="echo_connected_container"
     data-toggle="popover"
     data-html="true"
     data-placement="top"
     title="{{connected_users_label}}">
    <i class="fa fa-users"></i> <span id="echo_connected_users_count"></span>
</div>