<div id="map_enemy_forces" class="col-6 m-auto text-center font-weight-bold text-" data-toggle="tooltip">
    <span id="map_enemy_forces_numbers">
        <i id="map_enemy_forces_success" class="fas fa-check-circle" style="display: none;"></i>
        <i id="map_enemy_forces_warning" class="fas fa-exclamation-triangle" style="display: none;"></i>
        <span id="map_enemy_forces_count">0</span>/{{enemy_forces_total}} (<span
            id="map_enemy_forces_percent">0</span>%)
    </span>
</div>