<div class="row no-gutters">
    {{#attributes}}
        <div class="float-left">
            <div class="select_icon route_attribute_{{key}} mr-2" style="height: 24px;" data-toggle="tooltip"
                 title="{{description}}">
                &nbsp;
            </div>
        </div>
    {{/attributes}}
</div>
