<span style="display: inline-block; width: 200px;">
    <i class="fas {{fa_class}}"></i> {{{title}}}<br>
    <small class="text-muted" style="display: inline-block; width: 200px;">{{{subtext}}}</small>
</span>