<span
        class="tag badge badge-pill mr-1
     {{#if dark}}
        text-white
    {{else}}
        text-dark
     {{/if}}
            {{#ifCond color '==' null}}
        badge-primary
     {{/ifCond}}

            {{#if edit}}
        edit
     {{/if}}
    "
        data-id="{{id}}"
    {{#ifCond color '!=' null}}
        style="background-color: {{color}}"
    {{/ifCond}}
>
    {{name}}
    {{#if edit}}
        x
    {{/if}}
</span>
