<select class="form-control selectpicker role_selection" data-username="{{username}}">
    {{#select role}}
        {{#roles}}
            <option value="{{name}}" data-icon="fas {{icon}}">{{label}}</option>
        {{/roles}}
    {{/select}}
</select>