<button class="btn btn-danger dungeonroute-remove-from-this-team" type="button" data-publickey="{{public_key}}">
    <span class="d-xl-none"><i class="fas fa-minus"></i></span>
    <span class="d-none d-xl-block"><i class="fas fa-minus"></i> {{remove_route_label}}</span>
</button>