<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownActions_{{user_id}}"
            data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
        {{actions_label}}
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownActions_{{user_id}}">
        <div class="dropdown-divider"></div>
        <a class="dropdown-item text-danger cursor-pointer">
            <i class="fas fa-user-minus"></i> {{remove_label}}
        </a>
    </div>
</div>
