<button class="btn btn-success dungeonroute-add-to-this-team" type="button" data-publickey="{{public_key}}">
    <span class="d-xl-none"><i class="fas fa-plus"></i></span>
    <span class="d-none d-xl-block"><i class="fas fa-plus"></i> {{add_route_label}}</span>
</button>