<button class="btn btn-danger leave_team_btn" data-userid="{{user_id}}">
    <span class="d-xl-none"><i class="fas fa-door-open"></i></span>
    <span class="d-none d-xl-block"><i class="fas fa-door-open"></i> {{leave_label}}</span>
</button>