<div class="light-slider-container">
    <ul class="light-slider {{#ifCond items.length '==' 1}} single {{else}} multiple {{/ifCond}}">
        {{#items}}
        <li>
            <img class="thumbnail" data-src="{{src}}" src="//:0"/>
        </li>
        {{/items}}
    </ul>
</div>
