<div class="row affix_row_container no-gutters">
    <div class="col-6 pr-2">
        {{week_label}} {{week}} ({{date}})
    </div>
    {{#affixes}}
        <div class="col affix_row">
            <div class="select_icon affix_icon_{{class}}" style="height: 24px;"></div>
        </div>
    {{/affixes}}
</div>
