name: Generate & Upload Map Context

on:
  pull_request:
    branches:
      - master

permissions:
  contents: read

jobs:
  mapcontext:
    uses: ./.github/workflows/_ci-base.yml
    with:
      mode: mapcontext
    secrets: inherit
