name: Tests & Static Analysis

on:
  push:
    branches:
      - development
  pull_request:
    branches:
      - development
      - master

permissions:
  contents: read

jobs:
  tests:
    uses: ./.github/workflows/php-ci-setup/_ci-base.yml
    with:
      mode: tests
    secrets: inherit
