name: Tests & Static Analysis

on:
  push:
    branches:
      - development
  pull_request:
    branches:
      - development
      - master

permissions:
  contents: read

# Ensure that pushing to development branch doesn't run concurrently with PRs
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.head.sha || github.sha }}
  cancel-in-progress: true

jobs:
  tests:
    uses: ./.github/workflows/_ci-base.yml
    with:
      mode: tests
    secrets: inherit
